
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<div class="normaltext">
    <div class="hakdiv"
         id="divhak"
         style="display: block; margin: 0 auto; margin-top:15px; margin-bottom: 160px;">

        <center>
            <div class="CardDiv">
                <div class="GreenTitleDiv">
                    <h3 style=" float:left; margin-top: 1px; margin-left: 8px; padding-left: 6px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Access Denied - Erişim Reddedildi</h3>
                </div>
                <div style="padding:15px 16px 15px 16px; height:auto; ">
                    <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:15px;font-weight:400; color:#5E5E5E; text-align:left;">
                        Bu sayfaya erişim izniniz yok! ERROR ACCESS DENIED.
                    </p> <br />

                    <form asp-action="Logout" class="form-signin">
                        
                        <div>
                            <input type="submit" value="Tamam" style="display: inline; border-radius: 0.6rem; font-family: 'Segoe UI'; padding: 7px 18px 7px 18px; font-size: 15px; font-weight: 500; width: 40%;" class="btn btn-dark" />
                        </div>

                        <br />
                    </form>
                </div>
            </div>
        </center>
    </div>
</div>