<footer class="FooterClass" style="font-size:1em">
    <h3 style="color:#FCFCFC; font-family:'Segoe UI'">Telif hakkı &copy; 2021 Stajyerler. Tüm hakları saklıdır.</h3>
    <h3 style="color:#DA252D; font-family:'Segoe UI'">Telefon: (0850) 600 00 10</h3>
</footer>