<header style="background-color: #FFFFFF;  border-bottom: 4px solid #DA252D;">
    <div class="containerr" style="position: relative; padding:5px 0px 0px 0px;">
        <nav>
            <div class="menu-icons">
                <i class="icon ion-md-menu" style="color: #DA252D"></i>
                <i class="icon ion-md-close" style="color: #DA252D"></i>
            </div>
            <a style="" class="logo">
                <img style="width:210px; height:55px; margin-top:13px"
                     src="~/img/LOGO.png"
                     alt="" />
            </a>
            <ul class="nav-listt">

                <li>
                    <a style="margin-left:10px;font-family:'Segoe UI'" href="/Home/Index">Admin</a>
                </li>
                <li>

                </li> <a class="btnn" style="margin-left:20px; font-family:'Segoe UI'; background-color:#DA252D; color:white; padding: 6px 26px 6px 26px;border-radius:0.4rem; font-size: 1.5rem; " href="/General/Logout">Çıkış</a>
                

            </ul>
        </nav>
    </div>
</header>