@model Stajyerler.MVC.Models.StajyerData

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="normaltext">
    <div class="hakdiv"
         id="divhak"
         style="display: block; margin: 0 auto; margin-top:15px; margin-bottom: 160px;">

        <center>
            <div class="CardDiv">
                <div class="GreenTitleDiv">
                    <h3 style=" float:left; margin-top: 1px; margin-left: 8px; padding-left: 6px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Stajyer Bilgisi Düzenleme</h3>
                </div>
                <div style="padding:15px 16px 15px 16px; height:auto; ">
                    <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:15px;font-weight:400; color:#5E5E5E; text-align:left;">
                        Stajyer Düzenleme işleminde aşağıda bulunan alanların hepsini doğru bir şekilde doldurduğunuzdan emin olun.
                    </p> <br />

                    <form asp-action="Edit" class="form-signin">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-label-group" style="color:#727C8E; font-size:15px">
                            <label asp-for="Name" style="display:block; float:left;font-family:'Segoe UI';font-size:15px;font-weight:400; padding:2px 10px 2px 33px;">Adı</label>
                            <input asp-for="Name" required class="inputtza">
                        </div>
                        <div class="form-label-group" style="color:#727C8E; font-size:15px">
                            <label asp-for="Surname" style="display:block; float:left;font-family:'Segoe UI';font-size:15px;font-weight:400; padding:2px 10px 2px 33px;">Soyadı</label>
                            <input asp-for="Surname" required class="inputtza">
                        </div>
                        <div class="form-label-group" style="color:#727C8E; font-size:15px">
                            <label asp-for="University" style="display:block; float:left;font-family:'Segoe UI';font-size:15px;font-weight:400;padding:2px 10px 2px 33px;">Üniversitesi</label>
                            <input asp-for="University" required class="inputtza">
                        </div>
                        <div class="form-label-group" style="color:#727C8E; font-size:15px">
                            <label asp-for="Email" style="display:block; float:left;font-family:'Segoe UI';font-size:15px;font-weight:400; padding:2px 10px 2px 33px;">Epostası</label>
                            <input asp-for="Email" required class="inputtza">
                        </div>
                        <div class="form-label-group" style="color:#727C8E; font-size:15px">
                            <label asp-for="Major" style="display:block; float:left;font-family:'Segoe UI';font-size:15px;font-weight:400;padding:2px 10px 2px 33px;">Bölümü</label>
                            <input asp-for="Major" required class="inputtza">
                        </div>
                        <div class="form-label-group" style="color:#727C8E; font-size:15px">
                            <label asp-for="Department" style="display:block; float:left;font-family:'Segoe UI';font-size:15px;font-weight:400;padding:2px 10px 2px 33px;">Departmanı</label>
                            <input asp-for="Department" required class="inputtza">
                        </div>
                        <div>
                            <a asp-action="Index"><button class="btn btn-dark" type="button" style="display: inline; border-radius: 0.6rem; font-family: 'Segoe UI'; padding: 7px 18px 7px 18px; font-size: 15px; font-weight: 500; width: 40%; margin-right:10px;">Geri Dön</button></a>
                            <input type="submit" value="Kaydet" style="display: inline; border-radius: 0.6rem; font-family: 'Segoe UI'; padding: 7px 18px 7px 18px; font-size: 15px; font-weight: 500; width: 40%;" class="btn btn-dark" />
                        </div>
                        <br />
                    </form>
                </div>
            </div>
            <br />
            <br />
        </center>
    </div>
    <br />
    <br />
</div>



